<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>登陆</title>
		<!--用百度的静态资源库的cdn安装bootstrap环境-->
		<!-- Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
		<!--font-awesome 核心我CSS 文件-->
{#		<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css"/>#}
		<!--jquery.validate-->
{#		<script type="text/javascript" src="js/jquery.validate.min.js" ></script>#}
{#		<script type="text/javascript" src="js/message.js" ></script>#}
		<style type="text/css">
			body{background: url("/static/img/timg.jpg") no-repeat;background-size:cover;font-size: 16px;}
			.form{background: rgba(255,255,255,0.2);width:400px;margin:100px auto;}
			#login_form{display: block;}
			#register_form{display: none;}
			.fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}
			input[type="text"],input[type="password"]{padding-left:26px;}
			.checkbox{padding-left:21px;}
		</style>
	</head>
	<body>
	    <div class="container">
		<div class="form row">
			<form class="form-horizontal col-sm-offset-3 col-md-offset-3" id="login_form" method="post">
                {% csrf_token %}
				<h3 class="form-title">登陆界面</h3>
				<div class="col-sm-9 col-md-9">
					<div class="form-group">
						<i class="fa fa-user fa-lg"></i>
						<input class="form-control required" type="text" placeholder="请输入用户名" name="user" autofocus="autofocus" maxlength="20"/>
					</div>
					<div class="form-group">
							<i class="fa fa-lock fa-lg"></i>
							<input class="form-control required" type="password" placeholder="请输入密码" name="pwd" maxlength="8"/>
					</div>
					<div class="form-group">
						<label class="checkbox">
							<input type="checkbox" name="remember" value="1"/> 记住账户
						</label>
						<hr />
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-success pull-right" value="登陆 "/>
					</div>
                    <div id="login_tips" style="color: red">
                        {{ state }}
                    </div>
				</div>
			</form>
		</div>
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript">

        </script>
	</body>
</html>


